		.container{
			width: 965px;
			background: white;
			margin: auto
		    border-radius:25px
		}
		.header h1{
			background: orange;
			margin: auto;
		   margin-top: 20px;
		   padding: 20px;
		   text-align: center;
		   color: blue; 
		   float: right;
		}
		h2{
			color: orange; 

		}
		h3{
			color: orange; 
		}
		h4{
			color: orange; 
		}
		.col{
			width: 265px;
			display: inline-block;
			vertical-align: top;
			text-align: justify;
			padding: 20px;
		 }
		 .row{
			text-align: center;

		 }
		  li{
		 	display: inline-block;

		 }
		 li{
		 	text-decoration: none;
		 }
		 li a:hover{
		 	background: blue;
		 }
		 .menu a{
		 	color: black;
		 	text-decoration: none;
		 }
		 .menu a:hover{
		 	background: blue; 
		 }
	</style>